// Breakpoints
$subscription-vert-breakpoint-max: $screen-xs-max;
$subscription-horiz-breakpoint-min: $screen-sm-min;

// Base
*[data-widget-name="subscription"] {

	// Apply a nice gradient
	@include gradient-directional($brand-blue, $brand-purple, $deg: -122deg);

	// then the grid pattern
	&:after {
		position: absolute;
		z-index: 0;
		top: 0; right: 0; bottom: 0; left: 0;
		background-image: url('../img/pattern-grid.png');
		background-repeat: repeat;
		background-color: transparent;
		content: '';
	}

	// Make sure our extra bg doesn't cover other elements
	* {
		z-index: 1;
		position: relative;
	}

	position: relative;

	// Extend Bootstrap's default styling
	.nav-tabs > li {
		width: 50%;
		position: relative;

		> a {
			padding: $padding-large-vertical $padding-large-horizontal;
			font-size: 1.4em;
			width: 100%;
			text-align: center;

			@media (max-width: $subscription-vert-breakpoint-max) {
				font-size: 1.2em;
			}

			// Equalize height of the tab
			@media (max-width: 500px) {
				span {
					display: inline-block;
					width: 120px;
				}
			}
		}
	}

	.widget-header, 
	.widget-body,
	.widget-footer {
		display: block;
		margin: auto;
		clear: both;

		@media (max-width: $screen-xs-max) {
			width: 96%;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: 760px;
		}
		@media (min-width: $screen-md-min) {
			width: 860px;
		}
	}

	// Header
	.widget-header {
		padding: 40px 30px;

		.lead-strong {
			margin: 0;
			font-weight: 700;

			@media (max-width: $subscription-vert-breakpoint-max) {
				font-size: 1.6em;
			}
		}
	}

	// Content
	.widget-body {
		background-color: white;
		@include box-shadow(1px 1px 4px rgba(0,0,0,0.3));
		form {
			@media (max-width: $screen-xs-max) {
				padding: $grid-gutter-width/2;
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				padding: 40px $grid-gutter-width;
			}
			@media (min-width: $screen-md-min) {
				padding: 40px 80px 30px;
			}
		}
	}

	// Footer
	.widget-footer {
		padding: ($grid-gutter-width/2) $grid-gutter-width ($grid-gutter-width + 10) $grid-gutter-width;

		a { text-decoration: underline; }
	}
}

// Responsive Form fields
*[data-widget-name="subscription"] {

	$submit-btn-width: 200px;

	// Parent form
	.form {
		@include clearfix();
		span .form-control {
			$gap: $grid-gutter-width/2;

			@media (min-width: $subscription-horiz-breakpoint-min) {
				@include calc-sub-two-values(width, 100%, $gap);
			}
		}

		.control-group-auto, .btn-group-auto {
			position: relative;
			display: block;
			float: left;
		}

		// Define responsive for form fields
		.control-group-auto {

			@media (max-width: $subscription-vert-breakpoint-max) {
				width: 100%;
				clear: both;
				span {
					display: block;
					width: 100%;
				}

				span + span {
					margin-top: 15px;
				}
			}

			@media (min-width: $subscription-horiz-breakpoint-min) {
				@include calc-sub-two-values(width, 100%, $submit-btn-width);
				span {
					display: table-cell;
					width: 1%;
				}	
			}
		}

		// Define responsive for submit button
		.btn-group-auto {
			@media (max-width: $subscription-vert-breakpoint-max) {
				margin-top: 15px;
				width: 100%;
			}

			@media (min-width: $subscription-horiz-breakpoint-min) {
				width: $submit-btn-width;

				.btn { 
					text-align: left;
				}

				.btn span {
					display: block;
					$icon-dim: 16px;
					&:after {
						display: block;
						position: absolute;
						@include calc-sub-two-values(top, 50%, $icon-dim/2);
						right: -10px;
						content: '';
						width: $icon-dim;
						height: $icon-dim;
						background-size: contain;
						background-image: url(../img/right-chevron.svg);
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
			}
		}
	}

	.form-message {
		padding: 10px 30px 40px;
	}

	.error-message {
		display: none;
		clear: both;
		width: 100%;
		padding: 8px;
	}

	// Override form-control styling

	.form-control {
		background-color: #ffefdd;
		border-color: #ffddb9;
		&:hover {
			border-color: darken(#ffddb9, 15%);
		}
		&:focus {
			background-color: lighten(#ffddb9, 10%);
			border-color: darken(#ffddb9, 20%);
			@include box-shadow(inset 0 0 0 1px darken(#ffddb9, 20%));
		}

		@include placeholder(#222222);
	}
}

// Processing
.processing {
	z-index: 100;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);

	i { margin-top: 15%; }

	@include user-select(none);

	&:hover {
		cursor: progress;
	}
}

// JS Related selectors
.js_SuccessMessage {
	display: none;
	padding: 80px !important;

	&.in {
		display: block;
		~ .form-message, ~ .form { display: none; }
	}
}


*[data-subscription-state="member"] {
	.js_isNonMember  {
		display: none !important;
	}
}

*[data-subscription-state="non-member"] {
	.js_isMember,.js_username {
		display: none !important;
	}
}