// Some header only variables
$logo-height: 40px;

// Base
.container-header {
	background-color: white;
	padding: 0 $grid-gutter-width;

	// Logo top and bottom whitespace should be at least half of the logo's height
	padding-top: $logo-height/2;
	padding-bottom: $logo-height/2;
}

// Company Logo
.header-logo {
	height: $logo-height;
}

// If header is fixed - dependency Bootstrap class
.navbar-fixed-top + .container-body {

	// Push body down
	margin-top: $logo-height*2;
}