//
// Avatar
// --------------------------------------------------

// Stand-alone avatars
.avatar {
  width: $avatar-base-size;
  max-width: $avatar-base-size;
  height: $avatar-base-size;
  margin: auto auto;

  // Set the sizes
  &.avatar-lg {
    max-width: $avatar-lg;
    width: $avatar-lg;
    height: $avatar-lg;
  }

  &.avatar-md {
    max-width: $avatar-md;
    width: $avatar-md;
    height: $avatar-md;
  }

  &.avatar-sm {
    max-width: $avatar-sm;
    width: $avatar-sm;
    height: $avatar-sm;
  }

  &.avatar-xs {
    max-width: $avatar-xs;
    width: $avatar-xs;
    height: $avatar-xs;
  }

  &.avatar-xxs {
    max-width: $avatar-xxs;
    width: $avatar-xxs;
    height: $avatar-xxs;
  }


  > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
  }

  // Inline or Block
  &.avatar-inline-block {
    display: inline-block;
  }

  &.avatar-block {
    display: block;
    clear: both;
  }
}